[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrap-engine = ">=1.2.0"
pynput = {version = ">=2.11", sys_platform = "!= 'linux'"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
