[Desktop Entry]
Version=1.0
Type=Application
Name=Pokete
Comment=A terminal based Pokemon clone, based on the scrap engine.
Exec=/usr/bin/pokete.py
Icon=/usr/share/pokete/assets/pokete.png
Terminal=true
StartupNotify=false
Categories=Game;
