name: Data validation
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Validate
        run: |
          python3 -c "import pokete_data; print(':: Validating'); pokete_data.validate(); print(':: Done')"
